{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-md-4">
            <h1>Comment creation</h1>

            {{ form(form) }}
        </div>
    </div>
    <a href="{{ path('task') }}"><h5>Wróć do listy</h5></a>
{% endblock %}
